<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcrud.pesosaludablecrud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PesoSaludableCRUD">
        <activity android:name=".ProductosController"></activity>
        <activity android:name=".Parametrizaciones.CreacionProductoController" />
        <activity android:name=".SeleccionProductosController" />
        <activity android:name=".DetallePedidoController" />
        <activity android:name=".Parametrizaciones.CreacionUsuariosController" />
        <activity android:name=".UsuariosController" />
        <activity android:name=".Parametrizaciones.CreacionOrdenesController" />
        <activity android:name=".OrdenesPedidosController" />
        <activity android:name=".Parametrizaciones.CreacionVisitaController" />
        <activity android:name=".Parametrizaciones.CreacionClientesController" />
        <activity android:name=".ClientesController" />
        <activity android:name=".VisitasController" />
        <activity android:name=".PrincipalController" />
        <activity android:name=".LoginController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>